{% load descope %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Descope Django</title>
    <meta name="description" content="Descope Example" />
    <meta name="author" content="Descope" />
    <link rel="stylesheet" href="{% static 'template.css' %}">
  </head>

  <body>
    <div class="flex-col background">
      {% if user.is_authenticated %}
      <h1 class="memesafe-title">Meme Safe</h1>
      <p class="">{{ user.email }}</p>
      <p><a class="link" href="{% url 'logout' %}">logout</a></p>
      <a class="link" href="{% url 'memes' %}">memes</a>
      {% else %}
        {% descope_flow "sign-up-or-in" "/memes" %}
      {% endif %}
    </div>
  </body>
</html>