{% load descope %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Descope Django</title>
    <meta name="description" content="Descope Example" />
    <meta name="author" content="Descope" />
    <link rel="stylesheet" href="{% static 'template.css' %}">
  </head>

  <body>
    <div class="flex-col meme-page">
      <div class="navbar">
        <p class="right"><a class="link logout" href="{% url 'logout' %}">logout</a></p>
        <p class="left">{{ user.email }}</p>
      </div>
      <h1 class="meme-title">Meme Safe 🥷</h1>
      <div class="flex-row">
        {% for i in memes %}
          <div class="flex-col meme">
              <p class="meme-name">{{ i.name }}</p>
              <img class="meme-img" src={{ i.url }} alt="meme"/>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>