@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

html, body {
    font-family: 'Golos Text', sans-serif;
}
p, h1 {
    margin: 0;
}
h1, p {
    margin: 2vh;
}
.navbar {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.right, .left {
    font-size: 1.1em;
}
.left {  
    background-color: rgb(188, 255, 233);
    border: 1px solid aquamarine;
    padding: 2vh 4vh;
    float: left;
    margin-left: 2vh;
    border-radius: 100px;
    color: rgb(0, 96, 0);
}
.right {  
    margin-right: 2vh;
    float: right;
    background-color: rgb(255, 210, 188);
    border: 1px solid rgb(255, 84, 16);
    padding: 2vh 4vh;
    border-radius: 100px;
}
.link {
    text-decoration: none;
}
.logout {
    color: rgb(237, 77, 77);
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.meme-page {
    padding-top: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.meme {
    width: 25vw;
    margin: 2vh;
    height: auto;
}
.meme-img {
    width: 100%;
    height: auto;
}
.meme-title {
    font-size: 3em;
    color: rgb(0, 130, 110);
}
.meme-name {
    font-size: 1.2em;
    color: rgb(0, 127, 95);
}
.memesafe-title {
    font-size: 3em;
}