{% extends "base.html" %}
{% load static %}
{% load descope %} 

{% block content %}
  <h1 class="title">Django Sample App</h1>
  {% if user.is_authenticated %}
    <a class="home-btn" href={% url 'admin:index' %}>📊 &nbsp; Admin <span class="arrow">&#8594;</span></a>
    <a class="home-btn" href="{% url 'summary' %}">✏️ &nbsp; Text Summarizer <span class="arrow">&#8594;</span></a>
    <a class="home-btn logout" href="{% url 'logout' %}">🔴 Logout <span class="arrow">&#8594;</span></a>
  {% else %}
    {% descope_flow "sign-up-or-in" "/" %}
  {% endif %}
{% endblock content %}
